
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Django
*.sqlite3
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
db.sqlite3-journal
media/

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Local development settings
*.env
*.log

# Dependency management
pip-lock.txt
poetry.lock
